.navbar {
  background-color: transparent;

  @include desktop {
    height: 80px
  }

  &-burger {
    color: $primary;
    font-weight: bold;

    &:hover {
      color: $light;
    }
  }

  &-item {
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: bold;
    .button {
      text-transform: capitalize;
    }
  }

  &-menu.is-active {
    background-color: $dark;

    .navbar-start {
      .navbar-item {
        color: $light;
        &:hover {
          background-color: $primary;
          color: $dark;
        }
      }
    }

    .navbar-end {
      display: flex;

      .navbar-item {
        &:hover {
          background-color: $dark;

          .icon {
            color: $light;
          }
        }
      }
    }
  }

  &-end {
    font-size: 2em;
    
    .icon {
      padding: 0 .5em;
      color: $primary;
    }
  }
}