#skills {
  background: url('../src/img/stripes-light.png');
  background-color: $primary;
  background-blend-mode: multiply;
  text-align: center;

  .title {
    text-transform: uppercase;
    font-size: 3em;
    margin-bottom: 1em;
  }
  
  .subtitle {
    font-size: 1.5em;
  }

  .skills {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding: 2em 1em 0;
  }

  .skill {
    text-align: center;
    width: 25%;
    margin-bottom: 2em;

    &-icon {
      font-size: 6em;
      margin-bottom: .125em;
      color: $dark;
      filter: drop-shadow(1px 1px 1px #000);
    }

    &-title {
      font-size: 2em;
      font-weight: bold;
      color: $dark
    }
  }
}