@import 'variables';
@import '../../node_modules/bulma/bulma';

@import 'navbar';
@import 'hero';
@import 'skills';

html {
  font-family: $family-primary;
  color: $dark;
  line-height: 1.6em;
}

h1, h2, h3 {
  font-family: $family-primary;
  color: $dark;
}

.button {
  font-weight: bold;
  text-transform: capitalize;
  font-family: $family-primary;
}